.content {
  flex: 1;
  display: flex;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  .container {
    max-width: 90rem;
    h1.title {
      text-align: center;
      font-size: 4rem;
    }
  }

  article {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, helvetica neue, Helvetica, sans-serif;
    details {
      summary {
        cursor: pointer;
      }
    }

    header {
      margin-top: 6.4rem;
      margin-bottom: 3.2rem;

      h1 {
        font-size: 4.2rem;
        line-height: 4.6rem;
        margin: 0;

        @media only screen and (max-width: 768px) {
          font-size: 4rem;
          line-height: 4.4rem;
        }
      }
    }

    footer {
      margin-top: 4rem;

      .see-also {
        margin: 3.2rem 0;

        h3 {
          margin: 3.2rem 0;
        }
      }
    }

    p {
      text-align: justify;
      text-justify: auto;
      hyphens: auto;
    }
  }

  .post {
    .post-title {
      margin-bottom: 0.75em;
    }

    .post-meta {
      i {
        text-align: center;
        width: 1.6rem;
        margin-left: 0;
        margin-right: 0.5rem;
      }

      .date {
        .posted-on {
          margin-left: 0;
          margin-right: 1.5rem;
        }
      }
    }
  }

  figure {
    margin: 0;
    padding: 0;
  }

  figcaption p {
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
    margin: 0;
  }
}

.avatar img {
  width: 20rem;
  height: auto;
  border-radius: 50%;

  @media only screen and (max-width: 768px) {
    width: 10rem;
  }
}

.list {
  ul {
    margin: 3.2rem 0 3.2rem 0;
    list-style: none;
    padding: 0;

    li {
      font-size: 2.4rem;

      @media only screen and (max-width: 768px) {
        margin: 1.6rem 0 1.6rem 0;
      }

      .date {
        display: inline-block;
        flex: 1;
        width: 20rem;
        text-align: right;
        margin-right: 3rem;

        @media only screen and (max-width: 768px) {
          display: block;
          text-align: left;
        }
      }

      .title {
        font-size: 2.4rem;
        flex: 1;
        color: $fg-color;
        font-family: $font-family;
        font-weight: 700;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $link-color;
        }
      }
    }
  }

  ul:not(.pagination) {
    li {
      @media only screen and (min-width: 768.1px) {
        display: flex;
      }
    }
  }
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .about {
    text-align: center;
    align-self: center;
    margin: auto;

    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }

    h2 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 8rem;
      font-weight: 400;
      display: flex;
      // border: 1px solid red;

      .dots {
        display: flex;
        align-items: center;
        margin: 20px 0 0 20px;
      }

      .dot {
        width: 10px;
        height: 10px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: white;
        animation: color-change 3s ease-in-out infinite;
      }

      .dot:nth-child(1) {
        animation-delay: 0s;
      }

      .dot:nth-child(2) {
        animation-delay: 1s;
      }

      .dot:nth-child(3) {
        animation-delay: 2s;
      }

      @keyframes color-change {
        0% {
          background-color: white;
        }
        50% {
          background-color: white;
        }
        51% {
          background-color: white;
        }
        100% {
          background-color: #f62198;
        }
      }

      @media only screen and (max-width: 768px) {
        font-size: 8rem;
      }
    }

    h3 {
      margin-top: 2rem;
      font-size: 4.8rem;
      font-weight: 400;
      color: rgba(76, 76, 76, 0.54);
    }
  }

  ul {
    list-style: none;
    margin: 3rem 0 1rem 0;
    padding: 0;
    margin-top: auto;

    li {
      display: inline-block;
      position: relative;
      margin-top: 0rem;

      a {
        color: $fg-color;
        text-transform: uppercase;
        margin-left: 4rem;
        margin-right: 4rem;
        font-size: 4.8rem;

        &:hover,
        &:focus {
          color: $link-color;
        }

        @media only screen and (max-width: 768px) {
          font-size: 1.4rem;
          margin-left: 1rem;
          margin-right: 1rem;
        }

        i {
          font-size: 4.8rem;
        }
      }
    }
  }

  .error {
    text-align: center;

    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      font-size: 4.6rem;

      @media only screen and (max-width: 768px) {
        font-size: 3.2rem;
      }
    }

    h2 {
      margin-top: 2rem;
      margin-bottom: 3.2rem;
      font-size: 3.2rem;

      @media only screen and (max-width: 768px) {
        font-size: 2.8rem;
      }
    }
  }
}
